.container{
   display: flex;
   flex-direction: column;
   background-color: #F1F2F4;
   width: 25vw;
   border-radius: 1px solid gray;
   margin: 15px;
   padding: 10px;
   gap: 5px;
}
.inputfield{
    width: 100%;
    background-color: white;
    font-size: larger;
  
    border-radius: 10px;
    
   
}
.inputdata{
    margin: 5px;
    padding: 5px;
    border: 1px lightgray;
    border-radius: 5px;
    background-color: white;
    font-size: larger;
    gap: 5px;
    height: 100%;
    border: 10px;
}
.inputdata:hover{
cursor: pointer;
background-color: gray;
}