.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    border:  1px solid gray;
    align-items: center;
    justify-content:space-around;
    position: sticky;
    background-color: rgb(19, 130, 227);
}

.leftnavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.rightnavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.nav__button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color:transparent;
}