.App {
  text-align: center;
   background-image: url("lotus.jpg");
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1U8A0NSDUS6cV7UEAn62G-QGzflhNHwfR3Vt4sBscVldfoiRXki6oOIMKX1vU50EGpj4&usqp=CAU"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
 width: 100vw;
 height: 100vh;
  
}